/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@charset "UTF-8";
@import "reset.min.css";
@font-face {
  font-family: "Proxima Nova Light";
  src: url("../fonts/Proxima_Nova_light/fonts/proxima_nova_light.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/Proxima_Nova_light/fonts/proxima_nova_light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Proxima_Nova_light/fonts/proxima_nova_light.woff2") format("woff2"),
    url("../fonts/Proxima_Nova_light/fonts/proxima_nova_light.woff") format("woff"),
    url("../fonts/Proxima_Nova_light/fonts/proxima_nova_light.ttf") format("truetype"),
    url("../fonts/Proxima_Nova_light/fonts/proxima_nova_light.svg#proxima_nova_light") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Proxima_Nova/fonts/ofont.ru_Proxima Nova.eot");
  src: local("☺"), url("../fonts/Proxima_Nova/fonts/ofont.ru_Proxima Nova.woff") format("woff"),
    url("../fonts/Proxima_Nova/fonts/ofont.ru_Proxima Nova.ttf") format("truetype"),
    url("../fonts/Proxima_Nova/fonts/ofont.ru_Proxima Nova.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova rg";
  src: url("../fonts/Proxima_Nova_rg/fonts/12093.eot");
  src: local("☺"), url("../fonts/Proxima_Nova_rg/fonts/12093.woff") format("woff"),
    url("../fonts/Proxima_Nova_rg/fonts/12093.ttf") format("truetype"),
    url("../fonts/Proxima_Nova_rg/fonts/12093.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
.content {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  height: 100%;
}
.subtitle {
  color: #f84545;
  font-family: "Proxima Nova rg";
  text-transform: uppercase;
  font-size: calc(25px + 5 * ((100vw - 320px) / 1380));
  font-weight: 700;
  letter-spacing: 0.4em;
}
.h1,
.h3,
.h2 {
  color: #ffffff;
  font-family: "Proxima Nova Light";
  font-size: calc(27px + 33 * ((100vw - 320px) / 1380));
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.6em;
}
.h2 {
  font-size: 60px;
  letter-spacing: 0.34em;
}
.h3 {
  font-size: 40px;
  letter-spacing: 0.4em;
}
.header {
  background: url(../images/header/Layer_16.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding-top: 47px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.header__wrap {
  position: relative;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 5px;
}
.header__nav {
  width: 100%;
  max-width: 60%;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__burger {
  margin-right: 35px;
}
.header__list .menu-item {
  font-family: "Proxima Nova";
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1em;
  letter-spacing: 7.88px;
  color: #fff;
}
.menu-item:hover {
  color: #f84545;
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.current-menu-item {
  color: #f84545 !important;
}
.header__intro {
  margin-top: 17.8770949721%;
  text-align: center;
}
.header__subtitle {
  margin-top: 50px !important;
}
.header__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 7.8212290503%;
}

.logo__img {
  max-width: 100%;
}
.logo__img:hover {
  -webkit-transform: rotate3d(1, 0, 0, 360deg);
  transform: rotate3d(1, 0, 0, 360deg);
  -webkit-transition: -webkit-transform 0.6s linear;
  transition: -webkit-transform 0.6s linear;
  -o-transition: transform 0.6s linear;
  transition: transform 0.6s linear;
  transition: transform 0.6s linear, -webkit-transform 0.6s linear;
}

.burger {
  position: relative;
  display: none;
  width: 40px;
  height: 30px;
}
.burger:before,
.burger:after,
.burger span {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  background-color: #fff;
}
.burger span {
  top: 13px;
}
.burger:before {
  top: 0;
}
.burger:after {
  bottom: 0;
}
.burger.active-burger:before {
  top: 13px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.burger.active-burger:after {
  bottom: 13px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.burger.active-burger span {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.tiles {
  padding: 83px 0;
}
.tiles__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30.8% 57px 30.8% 57px 30.8%;
  grid-template-columns: repeat(3, 30.8%);
  -ms-grid-rows: 1fr 53px 41%;
  grid-template-rows: 1fr 41%;
  grid-gap: 53px 57px;
  justify-items: center;
  overflow: hidden;
}
.tiles__wrap > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.tiles__wrap > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.tiles__wrap > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.tiles__wrap > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.tiles__wrap > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.tiles__wrap > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.tiles__item {
  position: relative;
  max-height: 100%;
  z-index: -1;
}
.tiles__item picture img,
.tiles__item picture source {
  max-width: 100%;
}
.tiles__item--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.tiles__item--big {
  grid-column: 1/2 span;
}
.tiles__description {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 38px;
}
.tiles__description img {
  -o-object-fit: cover;
  object-fit: cover;
}
.tiles__h2 {
  margin-top: 0.6em;
  margin-bottom: 1em;
}
.tiles__h3 {
  margin-top: 0.9em;
  margin-bottom: 1em;
}

.instagram {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  width: 100vw;
  position: relative;
  -ms-grid-rows: (1fr) [2];
  -ms-grid-columns: (1fr) [4];
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  overflow: hidden;
}
.instagram source,
.instagram img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.instagram__description {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
}
.instagram__title {
  letter-spacing: 0.65em;
}
.instagram__subtitile {
  margin-top: 50px;
}
.footer {
  height: 150px;
  overflow: hidden;
}
.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__nav {
  width: 100%;
  max-width: 66.2%;
}
.footer__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer__ul .menu-item {
  font-family: "Proxima Nova";
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.2em !important;
  letter-spacing: 7.88px;
  color: #1a1a1a;
}
.footer__ul .menu-item:hover {
  color: #f84545;
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.inactive-link {
  pointer-events: none;
  font-family: "Proxima Nova";
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1em;
  letter-spacing: 7.88px;
  color: #1a1a1a;
}
.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 160px;
}
.icons__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 1.6em;
}
.icons__link {
  height: 100%;
  width: 33.33%;
  display: inline-block;
}
.icons svg:hover {
  fill: #f84545;
  -webkit-transition: fill 0.3s linear;
  -o-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
}
@media (max-width: 1550px) {
  .content {
    max-width: 1200px;
  }

  .tiles__description {
    width: 50%;
  }
}
@media (max-width: 1200px) {
  .content {
    max-width: 950px;
  }

  .menu-item {
    font-size: 13px;
  }

  .tiles__wrap {
    grid-gap: 25px 26px;
  }
  .tiles__item--right .tiles__description {
    width: 50%;
  }
  .tiles__item--right .tiles__description img {
    max-width: 45%;
  }
  .tiles__description img {
    max-width: 70%;
  }
  .tiles__h3 {
    font-size: 25px;
  }
}
@media (max-width: 960px) {
  .content {
    max-width: 770px;
  }
  .header__nav {
    max-width: 60%;
  }
  .footer__nav {
    max-width: 80%;
  }
  .menu-item {
    font-size: 11px;
  }
}
@media (max-width: 768px) {
  #sidebar {
    display: none;
  }
  #primary {
    width: 100% !important;
  }
  .header__nav {
    display: none;
  }
  .header__intro {
    margin-top: 200px;
  }
  .logo__img {
    max-width: 70%;
  }
  .burger {
    display: block;
  }
  .hidden-title {
    display: none;
  }
  .mobile-nav {
    display: block;
    position: absolute;
    top: 20%;
    left: 20%;
  }
  .tall-header {
    height: 70vh !important;
  }
  .mobile-nav .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .mobile-nav .header__list li {
    margin: 20px 0;
  }
  .mobile-nav .header__list li a {
    font-size: 30px !important;
  }
  .tiles {
    padding: 0;
  }
  .h2 {
    font-size: 40px;
  }
  .h3 {
    font-size: 20px;
  }
  .instagram {
    -ms-grid-rows: (1fr) [2];
    -ms-grid-columns: (1fr) [3];
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  }
  .tablet-hidden {
    display: none;
  }
  .footer {
    height: 250px;
  }
  .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .menu-item {
    font-size: 14px;
  }
  .footer__ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .footer__ul li {
    margin: 1em 0;
  }
  .icons {
    margin-top: 30px;
  }
  .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
  }
  .slider .slick .draggable {
    height: 100%;
  }
  .slider .slick-slider {
    height: 100%;
  }
  .slider .slick-slide {
    width: 100% !important;
    min-width: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .slider .slick-list {
    overflow: hidden;
    max-width: 70%;
    margin: 0 auto;
  }
  .slider .slick-track {
    min-width: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
  }
  .slider .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .slider .slick-dots button {
    border: none;
    border-radius: 50%;
    font-size: 0;
    background-color: #000000d2;
    width: 10px;
    height: 10px;
  }
  .slider .slick-dots .slick-active button {
    background-color: #f84545ea;
  }
  .tiles__item {
    height: 100%;
    margin: 0 auto;
    padding: 0 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 0;
  }
  .tiles__item--right {
    height: 100%;
  }
  .tiles__item--right .tiles__item {
    width: 90%;
    margin: 20px 0;
  }
}
@media (max-width: 425px) {
  .h2 {
    font-size: 30px;
  }
  .h3 {
    font-size: 15px;
  }
  .section-404 {
    width: 80% !important;
    height: 40% !important;
  }
  .about-content {
    height: 40vh !important;
  }
  .statistics-list ul {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .statistics-list ul li {
    margin: 1em;
  }
}
@media (max-width: 375px) {
  .instagram {
    -ms-grid-rows: (1fr) [2];
    -ms-grid-columns: (1fr) [2];
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  }
  .mobile-hidden {
    display: none;
  }
  .tiles__description {
    left: 15px;
  }
  .tiles__description img {
    max-width: 50% !important;
  }
}
@media (max-width: 320px) {
  .logo__img {
    max-width: 55%;
  }
  .h2 {
    font-size: 25px;
  }
}
/* short-header */
.short-header {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(rgb(10, 2, 8)),
    color-stop(rgb(18, 7, 13)),
    color-stop(rgb(25, 12, 17)),
    color-stop(rgb(33, 17, 22)),
    color-stop(rgb(41, 22, 26)),
    color-stop(rgb(48, 27, 31)),
    color-stop(rgb(56, 33, 35)),
    color-stop(rgb(63, 38, 40)),
    color-stop(rgb(71, 43, 44)),
    color-stop(rgb(79, 48, 49)),
    color-stop(rgb(86, 53, 53)),
    to(rgb(94, 58, 58))
  );
  background-image: -o-linear-gradient(
    top left,
    rgb(10, 2, 8),
    rgb(18, 7, 13),
    rgb(25, 12, 17),
    rgb(33, 17, 22),
    rgb(41, 22, 26),
    rgb(48, 27, 31),
    rgb(56, 33, 35),
    rgb(63, 38, 40),
    rgb(71, 43, 44),
    rgb(79, 48, 49),
    rgb(86, 53, 53),
    rgb(94, 58, 58)
  );
  background-image: linear-gradient(
    to bottom right,
    rgb(10, 2, 8),
    rgb(18, 7, 13),
    rgb(25, 12, 17),
    rgb(33, 17, 22),
    rgb(41, 22, 26),
    rgb(48, 27, 31),
    rgb(56, 33, 35),
    rgb(63, 38, 40),
    rgb(71, 43, 44),
    rgb(79, 48, 49),
    rgb(86, 53, 53),
    rgb(94, 58, 58)
  );
  height: 150px;
}
.short-header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 2%;
}
.short-header__top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-height: 150px;
}
/* woo settings */
.woocommerce-result-count {
  display: none;
}
.woocommerce-products-header .page-description {
  display: none;
}
.woo-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 3% auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  min-height: 60vh;
  line-height: 1.2em;
}
#primary {
  width: 70%;
}
#sidebar {
  max-width: 25%;
  font-weight: 400;
}
#comment {
  font-size: 1.5em;
}
#sidebar ul[role="navigation"] > li {
  display: none;
}
#sidebar ul[role="navigation"] .pagenav {
  display: block;
}
#sidebar ul[role="navigation"] .pagenav ul li {
  margin: 1em;
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
#sidebar ul[role="navigation"] .pagenav ul li:hover {
  color: #f84545;
}
#sidebar ul[role="navigation"] {
  margin-top: 2em;
}
#searchsubmit {
  font-size: 100%;
  margin: 0;
  line-height: 1;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: visible;
  padding: 0.618em 1em;
  font-weight: 700;
  border-radius: 3px;
  left: auto;
  color: #515151;
  background-color: #ebe9eb;
  border: 0;
  display: inline-block;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}
/* my account settings */
.account-main-page a {
  text-decoration: underline;
}
.account-main-page a:hover,
#sidebar a:hover {
  color: #f84545 !important;
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.woocommerce-MyAccount-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.woocommerce-MyAccount-navigation ul li {
  margin: 1em;
}
.woocommerce-MyAccount-content {
  line-height: 2em;
}
.account-main-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  width: 80%;
  margin: 5% auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  height: 50vh;
}
.woocommerce {
  min-height: 70vh;
}
.my-empty-cart {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 50vh;
}
.cart-empty.woocommerce-info,
.woocommerce-notices-wrapper {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.woocommerce-form-coupon-toggle,
.woocommerce-cart-form,
.checkout.woocommerce-checkout {
  width: 80%;
  margin: 4% auto;
  margin-top: 5%;
}
.checkout_coupon.woocommerce-form-coupon {
  width: 77%;
  margin: 3% auto !important;
}
.cart-collaterals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.comment-form-rating .stars span a:hover {
  color: inherit !important;
}
.woocommerce-product-gallery__wrapper div {
  margin: 10px;
}
li .attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
  height: 250px !important;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.products .product.type-product {
  min-height: 450px !important;
}
.button.product_type_simple {
  position: absolute !important;
  bottom: 0 !important;
}
.product_meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.product_meta span,
.stock.out-of-stock {
  margin: 0.5em 0;
}
.price {
  margin: 2em 0;
}
.woocommerce-privacy-policy-text {
  display: none;
}
.form-login {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.form-login div {
  -webkit-box-flex: 60%;
  -ms-flex: 60%;
  flex: 60%;
}
.product-category.product.first:after {
  content: "Все товары:";
  display: block;
  height: 1em;
  width: 100%;
  margin: 1em 0;
}
